<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Effect UI</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div id="app">
		<form action="">

			<button>submit</button>

			<section>
				<h2 class="caption">ef-input</h2>
				<ef-input v-model="form.hello" label="Hello" message="message"></ef-input>
			</section>

			<section>
				<h2 class="caption">ef-input-error</h2>
				<ef-input v-model="form.hello" label="Hello"
					error='<span class="error">Это поле обязательно для заполнения.</span> <span class="error">Ваше значение не совпадает с предполагаемым форматом.</span>'
				></ef-input>
			</section>
			
			<section>
				<h2 class="caption">ef-masked-tel</h2>
				<ef-input v-model="form.tel" label="Phone" type="tel"
					mask="+7 (###) ###-##-##"
					required
				></ef-input>
			</section>
			 
			<section>
				<h2 class="caption">ef-input-file</h2>
				<ef-input v-model="form.file" label="Upload" type="file"></ef-input>
			</section>
			
			<section>
				<h2 class="caption">ef-radio</h2>
				<ef-radio v-model="radio" name="radio1" val=1>Radio one</ef-radio>
				<ef-radio v-model="radio" name="radio1" val=2>Radio two</ef-radio>
			</section>

			<section>
				<h2 class="caption">ef-checkbox</h2>
				<ef-checkbox v-model="cbx" name="cbx" val=1>Cbx one</ef-checkbox>
				<ef-checkbox v-model="cbx" name="cbx" val=2>Cbx two</ef-checkbox>
				<ef-checkbox v-model="cbxBool" name="cbx" true-val="true-val" false-val="false-val" val=1>cbxBool</ef-checkbox>
			</section>

			<section>
				<h2 class="caption">ef-pagination</h2>
				<ef-pagination
					:total="total"
					:limit="limit"
					:page.sync="page"
					@change="pagination($event)"
				></ef-pagination>
			</section>

			<section>
				<h2 class="caption">ef-ranger</h2>
				<ef-ranger
					@range="changeRanger($event)"
					:limits="[200, 2000]"
					v-model="diapason"
				></ef-ranger>
			</section>

			<input type="reset">
		</form>
		<section>
<pre>
{{form}}
{{radio}}
{{cbx}}
{{cbxBool}}
{{page}}
{{diapason}}
</pre>
		</section>
	</div>


	
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js" integrity="sha512-EnXkkBUGl2gBm/EIZEgwWpQNavsnBbeMtjklwAa7jLj60mJk932aqzXFmdPKCG6ge/i8iOCK0Uwl1Qp+S0zowg==" crossorigin="anonymous"></script>
	<script src="dist/effect-ui.js"></script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				form: {},
				radio: '',
				cbx: [],
				cbxBool: '',
				
				total: 110,
				page: 1,
				limit: 10,
				diapason: [450, 1000]
			},
			methods: {
				pagination(p) {
					console.log(p)
				},
				changeRanger(val) {
					console.log(val)
				}
			}
		})
	</script>
</body>
</html>